seafile.liljeros.cloud {
  reverse_proxy seafile:80
}

actual.liljeros.cloud {
  reverse_proxy actual:5006
}

vw.liljeros.cloud {
  reverse_proxy vaultwarden:80
}

# livesync.liljeros.cloud {
#   reverse_proxy livesync:5984
# }